body {
    background-color: antiquewhite;
    font-family: 'Roboto', sans-serif;
}

#konteiner {
    color: gray;
    font-size: 15px;
    min-width: 700px;
    min-height: 500px;
    background-color: white;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 15px;
}

.postitus-pealkiri {
    color: black;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
}

.postitus-kuupaev {
    color: green;
    font-weight: bolder;
}

.postitus-sisu {
    font-size: 15px;
}

